astroid==2.2.5
autopep8==1.4.4
certifi==2019.9.11
colorama==0.4.1
docutils==0.15.2
isort==4.3.21
Kivy==1.11.1
lazy-object-proxy==1.4.2
mccabe==0.6.1
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.16.5
olefile==0.46
Pillow==6.1.0
pycodestyle==2.5.0
Pygments==2.4.2
pylint==2.3.1
python==3.7.4
rope==0.14.0
six==1.12.0
wincertstore==0.2
wrapt==1.11.2
